<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
          <span ng-if="!current.isPrivate" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <span ng-if="current.format" class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
          {{current.number}} {{current.title}}
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">

          <img class="col-md-8 img-responsive" ng-src="images/{{current.imageFile}}" alt="{{current.title}}">
          <div class="col-md-4">

            <p class="text-justify" ng-bind-html="trustedHtmlText">
              {{current.text}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row bg-primary">
    <div class="col-md-6 text-left">
      <h3>La mémoire des champs</h3>
    </div>
    <div class="col-md-6 text-right">
      <h3>Lucien Pouëdras</h3>
    </div>
  </div>
  <div class="row">
    <h3>Filtres ({{paintings.length}} tableaux)</h3>
  </div>
  <!-- Saisons -->
  <div class="row">
    <ul>
      <li class="col-md-2 col-sm-2 col-lg-2">
        <label>Saison :</label>
      </li>
      <li class="col-md-2 col-sm-2 col-lg-2">
        <label>Printemps
          <input type="radio" ng-model="saison" value="printemps">
        </label>
      </li>
      <li class="col-md-2 col-sm-2 col-lg-2">
        <label>Eté
          <input type="radio" ng-model="saison" value="ete">
        </label>
      </li>
      <li class="col-md-2 col-sm-2 col-lg-2">
        <label>Automne
          <input type="radio" ng-model="saison" value="automne">
        </label>
      </li>
      <li class="col-md-2 col-sm-2 col-lg-2">
        <label>Hiver
          <input type="radio" ng-model="saison" value="hiver">
        </label>
      </li>
    </ul>
  </div>
  </br>
  <!-- Activites -->
  <div class=row>
    <span class="col-md-4 col-sm-4 col-lg-4">
      <label for="activites"> Activités: </label>
      <select name="activites" ng-model="activites">
        <option value="travaux">Grands travaux</option>
        <option value="elevage">Elevage</option>
        <option value="cueillette">Ceuillette</option>
        <option value="manutention">Petis travaux</option>
        <option value="repos">Hors activité</option>
      </select>
    </span>
    <span class="col-md-4 col-sm-4 col-lg-4">
      <label for="espace"> Espace: </label>
      <select name="espace" ng-model="espace">
        <option value="interieurs">Intérieurs</option>
        <option value="village">Village</option>
        <option value="zone_cultivee">Cultivés</option>
        <option value="zone_non_cultivee">Non cultivés</option>
        <option value="hors_quotidien">Hors quotidien</option>
      </select>
    </span>
    <span class="col-md-4 col-sm-4 col-lg-4">
      <label for="connexes"> Connexes: </label>
      <select name="connexes" ng-model="connexes">
        <option value="artisans">Artisans / commerçants</option>
        <option value="indigents">Indigents</option>
        <option value="loisirs">Loisirs - école</option>
      </select>
    </span>
  </div>
  </br>
  <div class="row">
    <input type="button" ng-click="filtrer()" class="btn btn-default" value="Filtrer" />
    <input type="button" ng-click="supprimerFiltres()" class="btn btn-default" value="Supprimer tous les filtres" />
  </div>
  <hr>
  <div class="row" ng-repeat="painting in paintings track by $index" ng-if="$index % 6 == 0">
    <div class="col-md-2 col-sm-2 col-lg-2"
      ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3, $index + 4, $index + 5]"
      ng-if="paintings[i] != null">
      <div>
        <div class="thumbnail">
          <a href="#{{location}}" data-toggle="modal" data-target="#myModal" ng-click="open(paintings[i])">
            <img ng-src="images/thumbnails/{{paintings[i].imageFile}}" alt="{{paintings[i].title}}">
          </a>
          <div class="caption">
            <h6>
              <span ng-if="!paintings[i].isPrivate" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              <span ng-if="paintings[i].format" class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
              {{paintings[i].number}} {{paintings[i].title}}
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>