<!DOCTYPE html>
<html lang="fr" ng-app="paintingsApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>La mémoire des champs</title>	

    	<link href="css/bootstrap.css" rel="stylesheet">
    	<link href="css/style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
        <script src="js/controller.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        
     
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        
    </head>



    <body ng-controller="PaintingListCtrl">

    <!-- Button HTML (to Trigger Modal) -->
<!-- Button trigger modal -->
<a type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</a>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{current.title}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">

         <img class="col-md-6" ng-src="images/{{current.imageFile}}" 
                        alt="{{current.title}}">
        <span class"col-md-4">
            le texte vkerjlkrejgler
        </span>
    </div>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>


    <div class="container">
    	<div class="row bg-primary">
            <div class="col-md-6 text-left">
    		  <h3>La mémoire des champs</h3>
            </div>
            <div class="col-md-6 text-right">
    		  <h3>Lucien Pouëdras</h3>
            </div>
    	</div>
        <ul class="row" ng-repeat="paintingtmp in paintings" >
            <div ng-repeat="painting in paintingtmp">
                <li class="col-md-2">
                <div class="thumbnail">
                    <a href="#" data-toggle="modal" data-target="#myModal" ng-click="current.number = paint.number;current.title=painting.title;current.imageFile=painting.imageFile">
                        <img ng-src="images/{{painting.imageFile}}" 
                        alt="{{painting.title}}">
                    </a>
                    <div class="caption">
                        <h6>{{painting.number}} {{painting.title}}</h6>        
                    </div>
                </div>
                </li>
            </div>
        </ul>

    </div>
</body>
</html>